[submodule "trend_following"]
	path = trend_following
	url = https://github.com/AlgoGators/trend_following.git
[submodule "Carry"]
	path = Carry
	url = https://github.com/AlgoGators/Carry.git
[submodule "dyn_opt"]
	path = dyn_opt
	url = https://github.com/AlgoGators/dyn_opt.git
[submodule "risk_analysis"]
	path = risk_analysis
	url = https://github.com/AlgoGators/risk_analysis.git
[submodule "data_engine"]
	path = data_engine
	url = https://github.com/AlgoGators/data_engine.git
[submodule "risk_management"]
	path = risk_management
	url = https://github.com/AlgoGators/risk_management.git
[submodule "ib-gateway"]
	path = ib-gateway
	url = https://github.com/AlgoGators/ib-gateway.git
[submodule "reporting"]
	path = reporting
	url = https://github.com/AlgoGators/reporting.git
